@model Cadimm.Models.ViewModels.MembroFormViewModels

@{
    ViewData["Title"] = "Novo";
}

<h1>@ViewData["Title"]</h1>

<h4>Membro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Membro.Nome" class="control-label"></label>
                <input asp-for="Membro.Nome" class="form-control" />
                <span asp-validation-for="Membro.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membro.Email" class="control-label"></label>
                <input asp-for="Membro.Email" class="form-control" />
                <span asp-validation-for="Membro.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membro.Nascimento" class="control-label"></label>
                <input asp-for="Membro.Nascimento" class="form-control" />
                <span asp-validation-for="Membro.Nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membro.NomePai" class="control-label"></label>
                <input asp-for="Membro.NomePai" class="form-control" />
                <span asp-validation-for="Membro.NomePai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membro.NomeMae" class="control-label"></label>
                <input asp-for="Membro.NomeMae" class="form-control" />
                <span asp-validation-for="Membro.NomeMae" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membro.Cpf" class="control-label"></label>
                <input asp-for="Membro.Cpf" class="form-control" />
                <span asp-validation-for="Membro.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membro.Rg" class="control-label"></label>
                <input asp-for="Membro.Rg" class="form-control" />
                <span asp-validation-for="Membro.Rg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membro.EstadoCivil" class="control-label"></label>
                <input asp-for="Membro.EstadoCivil" class="form-control" />
                <span asp-validation-for="Membro.EstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membro.Escolaridade" class="control-label"></label>
                <input asp-for="Membro.Escolaridade" class="form-control" />
                <span asp-validation-for="Membro.Escolaridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membro.Telefones" class="control-label"></label>
                <input asp-for="Membro.Telefones" class="form-control" />
                <p></p>
                <input asp-for="Membro.Telefones" class="form-control" />
                <p></p>
                <input asp-for="Membro.Telefones" class="form-control" />
                <span asp-validation-for="Membro.Telefones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conjugue.Nome" class="control-label"></label>
                <input asp-for="Conjugue.Nome" class="form-control" />
                <span asp-validation-for="Conjugue.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conjugue.Telefones" class="control-label"></label>
                <input asp-for="Conjugue.Telefones" class="form-control" />
                <p></p>
                <input asp-for="Conjugue.Telefones" class="form-control" />
                <p></p>
                <input asp-for="Conjugue.Telefones" class="form-control" />
                <span asp-validation-for="Conjugue.Telefones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DadosEleitor.Titulo" class="control-label"></label>
                <input asp-for="DadosEleitor.Titulo" class="form-control" />
                <span asp-validation-for="DadosEleitor.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DadosEleitor.Zona" class="control-label"></label>
                <input asp-for="DadosEleitor.Zona" class="form-control" />
                <span asp-validation-for="DadosEleitor.Zona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DadosEleitor.Secao" class="control-label"></label>
                <input asp-for="DadosEleitor.Secao" class="form-control" />
                <span asp-validation-for="DadosEleitor.Secao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Rua" class="control-label"></label>
                <input asp-for="Endereco.Rua" class="form-control" />
                <span asp-validation-for="Endereco.Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Complemento" class="control-label"></label>
                <input asp-for="Endereco.Complemento" class="form-control" />
                <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Setor" class="control-label"></label>
                <input asp-for="Endereco.Setor" class="form-control" />
                <span asp-validation-for="Endereco.Setor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Cep" class="control-label"></label>
                <input asp-for="Endereco.Cep" class="form-control" />
                <span asp-validation-for="Endereco.Cep" class="text-danger"></span>
            </div>
            <div id="Estados" class="form-group">
                Estados:
                @Html.DropDownList("Estados", new SelectList(Model.Estados, "Id", "Sigla", "Nome"))
            </div>
            <div>
                Cidades:
                @Html.DropDownList("Cidades", Enumerable.Empty<SelectListItem>(), "--")
            </div>
            <p></p>
            <p>
                @Html.DisplayNameFor(model => model.Membro.Filiado)
                <fieldset>
                    <input type="radio" required name="title" id="r1" value="True"><label for="r1">Sim.</label>
                    <input type="radio" required name="title" id="r2" value="False"><label for="r2">Não.</label>
                </fieldset>
            </p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Estados").on("change", function () {
                var estadoId = $("#Estados option:selected").val();
                $.ajax({
                    type: 'GET',
                    data: { estadoId: estadoId },
                    url: '/Membros/GetCidades',
                    dataType: 'json',
                    success: function (dados) {
                        if (dados !== null) {

                            var selectbox = $('#Cidades');
                            $("#Cidades").empty()
                            $('<option>').val("0").text("Selecione o Município").appendTo(selectbox);
                            $.each(dados.cidade, function (i, d) {
                                $('<option>').val(d.id).text(d.value).appendTo(selectbox);
                            })
                        }
                    },
                    error: function () {
                        console.log("Falha de enviar AJAX");
                    }
                });
            });
        });
    </script>
}
